name: CI

on:
  push:
    branches: main
    tags: v*
  pull_request:
    branches: "*"

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest

    permissions:
      contents: read
      # https://docs.npmjs.com/generating-provenance-statements#publishing-packages-with-provenance-via-github-actions
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - run: corepack enable

      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org
          cache: yarn

      - run: yarn install
      - run: yarn fmt:check
      - run: yarn lint:check
      - run: yarn build

      # Publish version tags
      - name: npm publish
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: npx npm@latest publish --provenance --access public
